//- layout
html
  head
    title Delhi Dance cademy
    block scripts
    block style
  body
    nav#navbar 
        ul  
            img(src="static/logo2.jpg", alt="", srcset="")
            li #[a(href='/') Home]
            li #[a(href='/about') About]
            li #[a(href='/contact') Contact]
    block content
    block foot
      #footerSection
        | Copyright 2019 Raffle Lottery | All Rights Reserved
